Repository sergeirocks100/GearStation_Yog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Nichlas0010, @ThatLing, @AsV9

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members 
# when a PR that modifies the file in question is opened 
# This list is alphabetized by User -> Filename KEEP IT THAT WAY 
# In the event that multiple org members are to be informed of changes 
# to the same file or dir, add them to the end under Multiple Owners 
 
# Example
 
#/code/world.dm @GithubNameHere
#/maps/ @GithubNameHere

#Nichlas0010

/code/modules/shuttle/ @Nichlas0010
/code/datums/shuttles.dm @Nichlas0010
/code/controllers/subsystem/shuttle.dm @Nichlas0010
/_maps/shuttles/ @Nichlas0010

#Partheo
#/yogstation/icons/ @Partheo

#ThatLing

/code/__DEFINES/tick.dm @ThatLing
/code/controllers/admin.dm @ThatLing
/code/controllers/failsafe.dm @ThatLing
/code/controllers/subsystem.dm @ThatLing
/code/controllers/subsystem/ @ThatLing
/code/modules/keybindings/ @ThatLing
/yogstation/code/controllers/ @ThatLing
/yogstation/code/modules/keybindings/ @ThatLing

#Multiple Owners

/code/__DEFINES/MC.dm @AsV9 @ThatLing
/code/controllers/master.dm @AsV9 @ThatLing

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Config setting for Backrooms to determine roundstart spawn or not (#22997)
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/backrooms.dm
  config/config.txt
Owners: @ThatLing

Automatic changelog generation #22997 [ci skip]
  html/changelogs/AutoChangelog-pr-22997.yml
Owners: none

Automatic changelog generation #22996 [ci skip]
  html/changelogs/AutoChangelog-pr-22996.yml
Owners: none

stuff for event
  code/_onclick/hud/parallax.dm
  config/config.txt
Owners: none

Enable respawning
  config/config.txt
Owners: none

Enable respawning (#23003)
  config/config.txt
Owners: none

Reworks infiltrators and converts them into a midround antagonist (#22802)
  _maps/shuttles/infiltrator_cutter.dmm
  code/modules/clothing/chameleon.dm
  code/modules/modular_computers/computers/item/pda/pda_presets.dm
  code/modules/modular_computers/computers/item/tablet/tablet_presets.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/antagonists/antagonists/infiltrator.ts
  yogstation/code/game/objects/items/implants/implant_infiltrator.dm
  yogstation/code/modules/antagonists/infiltrator/infiltrator.dm
  yogstation/code/modules/antagonists/infiltrator/items/hardsuit.dm
  yogstation/code/modules/antagonists/infiltrator/objectives.dm
  yogstation/code/modules/antagonists/infiltrator/outfit.dm
  yogstation/code/modules/antagonists/infiltrator/team.dm
  yogstation/code/modules/events/infiltrators.dm
  yogstation/icons/mob/actions.dmi
Owners: @Nichlas0010

Automatic changelog generation #22802 [ci skip]
  html/changelogs/AutoChangelog-pr-22802.yml
Owners: none

Update to Ubuntu 22.04
  .github/workflows/turdis.yml
Owners: none

Update to Ubuntu 22.04
  .github/workflows/turdis.yml
Owners: none

gcc11
  .github/workflows/turdis.yml
Owners: none

libssl3
  .github/workflows/turdis.yml
Owners: none

libssl3:i386
  .github/workflows/turdis.yml
Owners: none

gcc8
  .github/workflows/turdis.yml
Owners: none

gcc9
  .github/workflows/turdis.yml
Owners: none

Back to gcc7 it seems
  .github/workflows/turdis.yml
Owners: none

Update README.md
  README.md
Owners: none

fix
  code/modules/atmospherics/gasmixtures/reactions.dm
Owners: none

remove shutdown notice
  README.md
Owners: none

replace the yogstation mentions
  README.md
Owners: none

oops
  README.md
Owners: none

fix poor grammar in the "a word on git" section
  .github/CONTRIBUTING.md
Owners: none

port over sections from old contributing.md
  .github/CONTRIBUTING.md
Owners: none

maybe fix the changelog workflow
  .github/workflows/compile_changelogs.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangelog-pr-22802.yml
  html/changelogs/AutoChangelog-pr-22996.yml
  html/changelogs/AutoChangelog-pr-22997.yml
Owners: none

Update autodoc.yml
  .github/workflows/autodoc.yml
Owners: none

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Owners: none

rename the DME
  .github/workflows/turdis.yml
  .vscode/tasks.json
  SpacemanDMM.toml
  gearstation.dme
  tools/linux_build.py
  yogstation/README.md
Owners: none

update workflows to supported Ubuntu version
  .github/workflows/turdis.yml
Owners: none

add notice to goon folder
  goon/README.md
Owners: none

fix turdis badge
  README.md
Owners: none

oops
  tools/build/build.js
  tools/initToast/initToast.ps1
  tools/linux_build.py
  tools/travis/run_server.sh
Owners: none

tyop
  tools/build/build.js
Owners: none

add user agent
  tools/travis/install_byond.sh
Owners: none
