Repository sergeirocks100/GearStation_Yog, changes with the labels that .github/labeler.yml gives for each.
All labels: Admin, Config, Dependencies, DME Edit, Sprites, Javascript, Mapping, Sound, SQL, tgui, Github

.github/labeler.yml:

Admin:
  - 'code/modules/admin/**'

# Any file within the config subfolder
Config: 
  - 'config/**'

Dependencies:
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'

# When the .DME is changed
DME Edit:
  - './*.dme'
  - '**/*.dme'

# Changes to a .dmi or anything in the icons folder
Sprites: 
  - '**/*.dmi'
  - 'icons/*.dmi'

# Javascript changes
Javascript: 
  - '**/*.js'

# Changes to a .dmm or anything in the _maps folder
Mapping: 
  - '**/*.dmm'
  - '_maps/**'

# Changes to a .ogg or anything in the sound folder
Sound: 
  - '**/*.ogg'
  - 'sound/**'

# Changes to the SQL subfolder
SQL: 
  - 'SQL/**'

# Encompasses both the tgui and the tgui-next folder
tgui: 
  - 'tgui/**'
  - 'tgui-next/**'

# Changes to the .Github folder
Github: 
  - '.github/**'

Automatic changelog compile [ci skip]
  html/changelog.html
Labels: none

Automatic changelog compile [ci skip]
  html/changelog.html
Labels: none

Automatic changelog compile [ci skip]
  html/changelog.html
Labels: none

Automatic changelog compile [ci skip]
  html/changelog.html
Labels: none

Automatic changelog compile [ci skip]
  html/changelog.html
Labels: none

Automatic changelog compile [ci skip]
  html/changelog.html
Labels: none

Config setting for Backrooms to determine roundstart spawn or not (#22997)
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/backrooms.dm
  config/config.txt
Labels: Config

Automatic changelog generation #22997 [ci skip]
  html/changelogs/AutoChangelog-pr-22997.yml
Labels: none

Automatic changelog generation #22996 [ci skip]
  html/changelogs/AutoChangelog-pr-22996.yml
Labels: none

stuff for event
  code/_onclick/hud/parallax.dm
  config/config.txt
Labels: Config

Enable respawning
  config/config.txt
Labels: Config

Enable respawning (#23003)
  config/config.txt
Labels: Config

Reworks infiltrators and converts them into a midround antagonist (#22802)
  _maps/shuttles/infiltrator_cutter.dmm
  code/modules/clothing/chameleon.dm
  code/modules/modular_computers/computers/item/pda/pda_presets.dm
  code/modules/modular_computers/computers/item/tablet/tablet_presets.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/antagonists/antagonists/infiltrator.ts
  yogstation/code/game/objects/items/implants/implant_infiltrator.dm
  yogstation/code/modules/antagonists/infiltrator/infiltrator.dm
  yogstation/code/modules/antagonists/infiltrator/items/hardsuit.dm
  yogstation/code/modules/antagonists/infiltrator/objectives.dm
  yogstation/code/modules/antagonists/infiltrator/outfit.dm
  yogstation/code/modules/antagonists/infiltrator/team.dm
  yogstation/code/modules/events/infiltrators.dm
  yogstation/icons/mob/actions.dmi
Labels: Sprites, Mapping, tgui

Automatic changelog generation #22802 [ci skip]
  html/changelogs/AutoChangelog-pr-22802.yml
Labels: none

Update to Ubuntu 22.04
  .github/workflows/turdis.yml
Labels: Github

Update to Ubuntu 22.04
  .github/workflows/turdis.yml
Labels: Github

gcc11
  .github/workflows/turdis.yml
Labels: Github

libssl3
  .github/workflows/turdis.yml
Labels: Github

libssl3:i386
  .github/workflows/turdis.yml
Labels: Github

gcc8
  .github/workflows/turdis.yml
Labels: Github

gcc9
  .github/workflows/turdis.yml
Labels: Github

Back to gcc7 it seems
  .github/workflows/turdis.yml
Labels: Github

Update README.md
  README.md
Labels: none

fix
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: none

remove shutdown notice
  README.md
Labels: none

replace the yogstation mentions
  README.md
Labels: none

oops
  README.md
Labels: none

fix poor grammar in the "a word on git" section
  .github/CONTRIBUTING.md
Labels: Github

port over sections from old contributing.md
  .github/CONTRIBUTING.md
Labels: Github

maybe fix the changelog workflow
  .github/workflows/compile_changelogs.yml
Labels: Github

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangelog-pr-22802.yml
  html/changelogs/AutoChangelog-pr-22996.yml
  html/changelogs/AutoChangelog-pr-22997.yml
Labels: none

Update autodoc.yml
  .github/workflows/autodoc.yml
Labels: Github

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: Github

rename the DME
  .github/workflows/turdis.yml
  .vscode/tasks.json
  SpacemanDMM.toml
  gearstation.dme
  tools/linux_build.py
  yogstation/README.md
Labels: DME Edit, Github

update workflows to supported Ubuntu version
  .github/workflows/turdis.yml
Labels: Github

add notice to goon folder
  goon/README.md
Labels: none

fix turdis badge
  README.md
Labels: none

oops
  tools/build/build.js
  tools/initToast/initToast.ps1
  tools/linux_build.py
  tools/travis/run_server.sh
Labels: Javascript

tyop
  tools/build/build.js
Labels: Javascript

add user agent
  tools/travis/install_byond.sh
Labels: none
